<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7f3e3fddff.js" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</head>

<body>
  <nav>
    <div class="wpr">
      <div class="logo">
        <a href="">
          <i class="fa-solid fa-droplet"></i>
          Blood Bank
        </a>
      </div>
      <a class="burger" onclick="out()">
        <div id="n3">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div id="n4">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </a>
      <div id="n2" class="n2">
        <ul>
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="adminlogin">
              Admin
            </a>
          </li>
          <li>
            <a href="donorform">
              Donor
            </a>
          </li>
          <li>
            <a href="patientform">
              Patient
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="m-wpr">
    <div class="hero">
      <div class="wrapper">
        <h1 id="bbk">
          Hi,
        </h1>
        <h2>
          Welcome to our blood bank
        </h2>
        <h3>
          Blood Management System
        </h3>
        <p>
          We are committed to providing a safe and reliable blood supply to hospitals and clinics in need. With our
          easy-to-use online platform, you can donate blood, register as a donor, or search for blood donors in your
          area.

        </p>
      </div>
    </div>
    <div class="abb">
      <h1>Learn About Donations</h1>
      <p>
        After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood
        cells and in turn, helps in maintaining good health.
      </p>
    </div>

    <section id="donate-blood">
      <h2>Donate Blood</h2>
      <p>Donating blood can save lives. If you're interested in donating, please see the information below:</p>

      <h3>Requirements:</h3>
      <ul>
        <li>You must be at least 17 years old</li>
        <li>You must weigh at least 110 pounds</li>
        <li>You must be in good health</li>
      </ul>

      <h3>Process:</h3>
      <ol>
        <li>Fill out a health questionnaire</li>
        <li>Have your vitals checked (blood pressure, pulse, temperature)</li>
        <li>Undergo a brief physical exam</li>
        <li>Donate blood</li>
        <li>Rest and enjoy a snack</li>
      </ol>

      <p>If you're interested in donating blood, please contact this <a href="donorform">Form</a></p>
    </section>
    <section id="blood-for-patient">
      <h2>Need Blood for a Patient?</h2>
      <p>If you or someone you know needs blood, follow these steps:</p>

      <ol>
        <li>Contact your local blood bank or hospital to find out what blood type is needed.</li>
        <li>Ask family and friends to donate blood if they have the same blood type.</li>
        <li>Consider hosting a blood drive to help collect donations from your community.</li>
      </ol>

      <p>Remember, donating blood is safe and easy, and it can help save lives. If you're able to donate blood, please
        consider doing so to help those in need. Contact your local blood donation center or fill this form for if you
        need blood <a href="patientform">form</a></p>
    </section>
    <div class="t-wpr">
      <a href="patientform">
        <div class="t">
          <p>Looking for blood</p>
        </div>
      </a>
      <a href="donorform">
        <div class="t">
          <p>Wants to donate blood</p>
        </div>
      </a>
    </div>

  </div>
  <footer id="hh2">
    <p>Copyright &copy; 2023 <br> Blood Bank Management System.<br>
      All rights reserved.</p>
  </footer>
</body>

</html>
