<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7f3e3fddff.js" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</head>

<body>
  <nav>
    <div class="wpr">
      <div class="logo">
        <a href="">
          <i class="fa-solid fa-droplet"></i>
          Blood Bank
        </a>
      </div>
      <a class="burger" onclick="out()">
        <div id="n3">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div id="n4">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </a>
      <div id="n2" class="n2">
        <ul>
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="adminlogin">
              Admin
            </a>
          </li>
          <li>
            <a href="donorform">
              Donor
            </a>
          </li>
          <li>
            <a href="patientform">
              Patient
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="xx">
    <div class="login-box">
      <h2>Blood Request Form</h2>
      <form action="/patientform" method="post">
        <div class="user-box">
          <input type="text" name="name" required="">
          <label>name</label>
        </div>
        <div class="user-box">
          <input type="number" name="age" required="">
          <label>age</label>
        </div>
        <div class="user-box">
          <input type="text" name="gender" required="">
          <label>gender</label>
        </div>
        <div class="user-box">
          <input type="text" name="blood_group" required="">
          <label>blood group</label>
        </div>
        <div class="user-box">
          <input type="text" name="phone_number" required="">
          <label>phone number</label>
        </div>
        <div class="user-box">
          <input type="text" name="email" required="">
          <label>email</label>
          <button type="submit">
            <a>Submit
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>

          </button>
      </form>
    </div>
  </div>
  <footer id="hh2">
    <p>Copyright &copy; 2023 <br> Blood Bank Management System.<br>
      All rights reserved.</p>
  </footer>
</body>

</html>
