<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7f3e3fddff.js" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <nav>
      <div class="wpr">
        <div class="logo">
          <a href="">
          <i class="fa-solid fa-droplet"></i>
            Blood Bank
          </a>
        </div>
          <a class="burger" onclick="out()">
          <div id="n3">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div id="n4">
          <i class="fa-solid fa-xmark"></i>
          </div>
          </a>
        <div id="n2" class="n2">
        <ul>
          <li>
            <a href="">
               Home
            </a>
          </li>
          <li>
            <a href="admin">
               Admin
            </a>
          </li>
          <li>
            <a href="">
               Donor
            </a>
          </li>
          <li>
            <a href="">
               Patient
            </a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <div class="m-wpr">
      <div class="hero">
  <div class="wrapper">  
  <h1>
    Hi,
  </h1>
  <h2>
    Welcome to our blood bank
  </h2>
  <h3>
   Blood Management System 
  </h3>
  <p>
            We are committed to providing a safe and reliable blood supply to hospitals and clinics in need. With our easy-to-use online platform, you can donate blood, register as a donor, or search for blood donors in your area.

  </p>
  </div>
</div>
      <div class="abb">
        <h1>Learn About Donations</h1>
        <p>
          After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn, helps in maintaining good health.
        </p>
      </div>
      <div class="t-wpr">
        <a href="">
          <div class="t"><p>Blood availability search</p></div>
        </a>
        <a href="">
          <div class="t"><p>Looking for blood</p></div>
        </a>
        <a href="">
          <div class="t"><p>Wants to donate blood</p></div>
        </a>
      </div>

    </div>
    <footer>
     <p>Copyright &copy; 2023 <br> Blood Bank Management System.<br>
		All rights reserved.</p> 
    </footer>
  </body>
</html>
