:root {
  --grey: #2b2b42;
  --light-grey: #8d99ae;
  --lightest-grey: #edf2f4;
  --red: #ef233c;
  --dark-red: #d90429;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  z-index: 0;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}
.wpr {
  display: flex;
  padding: 0 7vw;
  height: 50px;
  align-items: center;
  background: var(--grey);
}
.n2 {
  width: 200px;
  background: #202042;
  transition-duration: 500ms;
  border-right: 1px solid black;
}
.aaa-wpr {
  display: flex;
  height: 100vh;
}
ul {
  flex-direction: column;
  margin-top: 60px;
}
ul li {
  padding: 15px 20px;
}
ul li a {
  color: white;
  padding: 5px;
}
.logo a {
  color: var(--lightest-grey);
}
footer p {
  text-align: center;
  color: white;
}
footer {
  background: var(--grey);
  padding: 10px;
  border-top: 5px solid var(--light-grey);
}
.card {
  width: 200px;
  height: 100px;
  background: var(--dark-red);
  margin: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.dd,
.cc {
  padding: 15px;
  width: 150px;
  display: inline-block;
}
.ww {
  padding: 10px;
  border: 1px solid black;
}
.t-card {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.h1 {
  text-align: center;
  margin-bottom: 50px;
}
.w1 {
  background: var(--dark-red);
  color: white;
}
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: '';
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}
.ff-c {
  display: flex;
  flex-wrap:wrap;
}
#pp {
  margin: 50px 10px;
}
.ss {
  width: 50px;
}
.mm {
  width: 200px;
}
